li { 
	margin: 0.5em;
}

ul {
    margin: 0em 0;
    padding: 0 0 0 20px;
}

li ul li ul li ul {
    list-style: none;
    margin: 0em 0;
    padding: 0 0 0 20px;
}

li ul li ul li ul li {
	position: relative;
}

li ul li ul li ul li:before {
    position: absolute;
    display: inline-block;
	content: '\25A1';
	margin: -1px 0 0 -1em;
}

li ul li ul li ul li ul {
    list-style: none;
    margin: 0em 0;
    padding: 0 0 0 20px;
}

li ul li ul li ul li ul li {
	position: relative;
}

li ul li ul li ul li ul li:before {
    position: absolute;
    display: inline-block;
	content: '\25C6';
	margin: -1px 0 0 -1em;
}


li ul li ul li ul li ul li ul {
    list-style: none;
    margin: 0em 0;
    padding: 0 0 0 20px;
}

li ul li ul li ul li ul li ul li {
	position: relative;
}

li ul li ul li ul li ul li ul li:before {
    position: absolute;
    display: inline-block;
	content: '\25C7';
	margin: -1px 0 0 -1em;
}

li ul li ul li ul li ul li ul li ul {
    list-style: none;
    margin: 0em 0;
    padding: 0 0 0 20px;
}

li ul li ul li ul li ul li ul li ul li {
	position: relative;
}

li ul li ul li ul li ul li ul li ul li:before {
    position: absolute;
    display: inline-block;
	content: '\2726';
	margin: -1px 0 0 -1em;
}



li ul li ul li ul li ul li ul li ul li ul {
    list-style: none;
    margin: 0em 0;
    padding: 0 0 0 20px;
}

li ul li ul li ul li ul li ul li ul li ul li {
	position: relative;
}

li ul li ul li ul li ul li ul li ul li ul li:before {
    position: absolute;
    display: inline-block;
	content: '\2727';
	margin: -1px 0 0 -1em;
}



li ul li ul li ul li ul li ul li ul li ul li ul {
    list-style: none;
    margin: 0em 0;
    padding: 0 0 0 20px;
}

li ul li ul li ul li ul li ul li ul li ul li ul li {
	position: relative;
}

li ul li ul li ul li ul li ul li ul li ul li ul li:before {
    position: absolute;
    display: inline-block;
	content: '\2B51';
	margin: -1px 0 0 -1em;
}

li ul li ul li ul li ul li ul li ul li ul li ul li ul {
    list-style: none;
    margin: 0em 0;
    padding: 0 0 0 20px;
}

li ul li ul li ul li ul li ul li ul li ul li ul li ul li {
	position: relative;
}

li ul li ul li ul li ul li ul li ul li ul li ul li ul li:before {
    position: absolute;
    display: inline-block;
	content: '\2B52';
	margin: -1px 0 0 -1em;
}
